#app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

label, input {
    display: block;
    width: 100%;
}

.coordinates {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.longitude, .latitude {
    display: inline-block;
}