#app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

label, input {
    display: block;
    width: 100%;
}

.coordinates {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.longitude, .latitude {
    display: inline-block;
}

@media (max-width: 900px) {
    #app {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #app aside {
        width: 90vw;
    }

    #app main {
        width: 90vw;
        margin-top: 0;
    }

    

   
}