main {
    width: 1;
    margin-top: 50px;
}

main ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 15px;
}

main ul li {
    background-color: #fff;
}

li.dev-item > header {
    display: flex;
    flex-direction: row;
    align-items: center;
}